.vscode
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*/_site
build
cover-letter/BowersCIS.png
cover-letter/bowersletterhead.sty
cover-letter/CornellLogoRed.eps
cover-letter/CS2lineRed.png
cover-letter/IS.png
cover-letter/SDS.png
